In [1]:
import pandas as pd
import numpy as np
import random
from faker import Faker
from datetime import datetime, timedelta

c:\Users\Ripple\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# Load vehicle data from SQL dump
vehicle_data = [
    {"id": 1, "VehiclesTitle": "SS400", "VehiclesBrand": "Bajaj", "PricePerDay": 345345},
    {"id": 2, "VehiclesTitle": "RS200", "VehiclesBrand": "Bajaj", "PricePerDay": 859},
    {"id": 3, "VehiclesTitle": "R1", "VehiclesBrand": "Suzuki", "PricePerDay": 563},
    {"id": 4, "VehiclesTitle": "Duke390", "VehiclesBrand": "KTM", "PricePerDay": 5636},
    {"id": 5, "VehiclesTitle": "R1", "VehiclesBrand": "Yamaha", "PricePerDay": 345345}
]

In [3]:
# Generate synthetic user data
fake = Faker()
num_users = 2000

users = []
for _ in range(num_users):
    users.append({
        "FullName": fake.name(),
        "EmailId": fake.email(),
        "ContactNo": fake.phone_number(),
        "Country": "Nepal"  # Assuming all users are from Nepal
    })

In [4]:
# Generate synthetic booking data for users from Nepal
bookings = []
for user in users:
    num_bookings = random.randint(1, 5)
    for _ in range(num_bookings):
        vehicle = random.choice(vehicle_data)
        from_date = fake.date_time_between(start_date='-30d', end_date='+30d')
        to_date = from_date + timedelta(days=random.randint(1, 7))
        bookings.append({
            "userEmail": user["EmailId"],
            "VehicleId": vehicle["id"],
            "FromDate": from_date.strftime('%d/%m/%Y'),
            "ToDate": to_date.strftime('%d/%m/%Y'),
            "Status": random.randint(0, 2),
            "message": fake.paragraph()
        })

In [5]:
# Convert data to DataFrame
bookings_df = pd.DataFrame(bookings)

In [6]:
# Export data to CSV
bookings_df.to_csv('synthetic_booking_data_nepal.csv', index=False)

In [7]:
df=pd.read_csv("synthetic_booking_data_nepal.csv")

In [8]:
df.head()

,userEmail,VehicleId,FromDate,ToDate,Status,message
0,grahammelissa@example.org,5,31/03/2024,05/04/2024,1,Value behavior reveal also. Across scene page ...
1,grahammelissa@example.org,4,28/02/2024,06/03/2024,2,Take PM hour team road push. Particular take c...
2,grahammelissa@example.org,3,04/04/2024,09/04/2024,2,At edge movie live whether. Age stage believe ...
3,grahammelissa@example.org,2,11/03/2024,17/03/2024,1,History create decade woman act traditional. N...
4,grahammelissa@example.org,2,09/03/2024,16/03/2024,1,Nation garden pay whatever adult fact family.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userEmail  6000 non-null   object
 1   VehicleId  6000 non-null   int64
 2   FromDate   6000 non-null   object
 3   ToDate     6000 non-null   object
 4   Status     6000 non-null   int64
 5   message    6000 non-null   object
dtypes: int64(2), object(4)
memory usage: 281.4+ KB

In [10]:
df.tail()

,userEmail,VehicleId,FromDate,ToDate,Status,message
5995,athompson@example.net,4,28/03/2024,31/03/2024,0,Last save information civil.
5996,athompson@example.net,4,19/03/2024,23/03/2024,0,Particularly head school talk each course beco...
5997,nelsonjennifer@example.com,2,28/03/2024,29/03/2024,1,Plant world finish laugh yard run table model....
5998,nelsonjennifer@example.com,4,08/02/2024,12/02/2024,1,Play ask behind front. Democrat pass music stu...
5999,nelsonjennifer@example.com,4,11/03/2024,15/03/2024,2,Sea study big sign conference design realize. ...

In [15]:
df['userEmail'].duplicated().sum()

4008

In [17]:
df_drop=df['userEmail'].drop_duplicates()

In [21]:
df_drop.shape

(1992,)