In [12]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
bookings_df = pd.read_csv('D:/WORK/test/major_proj_karuna/bikerental/data/synthetic_booking_data_nepal.csv')

In [14]:
# Display first few rows
print(bookings_df.head())

                    userEmail  VehicleId    FromDate      ToDate  Status  \
0     andrealopez@example.org          4  23/03/2024  27/03/2024       0
1     andrealopez@example.org          3  20/03/2024  21/03/2024       0
2     andrealopez@example.org          3  02/04/2024  03/04/2024       2
3     andrealopez@example.org          3  20/02/2024  25/02/2024       1
4  priscillajones@example.org          5  07/03/2024  09/03/2024       1

                                             message
0  High somebody television understand cup. Chanc...
1  Total show least suggest. Certain use middle p...
2  Enough I short already later. Us senior eat re...
3     Past admit staff. Boy other western key place.
4  Mrs degree sell material full. Ability unit pa...

In [15]:
# Basic information
print(bookings_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5945 entries, 0 to 5944
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userEmail  5945 non-null   object
 1   VehicleId  5945 non-null   int64
 2   FromDate   5945 non-null   object
 3   ToDate     5945 non-null   object
 4   Status     5945 non-null   int64
 5   message    5945 non-null   object
dtypes: int64(2), object(4)
memory usage: 278.8+ KB
None

In [16]:
# Summary statistics
print(bookings_df.describe())

         VehicleId       Status
count  5945.000000  5945.000000
mean      3.005046     0.985870
std       1.419548     0.815687
min       1.000000     0.000000
25%       2.000000     0.000000
50%       3.000000     1.000000
75%       4.000000     2.000000
max       5.000000     2.000000